
@{
    ViewData["Title"] = "Личный кабинет";
}


@if (User.Identity.IsAuthenticated)
{
    @model IEnumerable<Player.Models.Audio>
    <p class="text-left">Привет, @User.Identity.Name</p>
    <h3>Моя музыка</h3>
    <table class="table">
        <thead>
        <tr>
            <th>Label</th>
            <th>Name</th>
            <th>Album</th>
            <th></th>
            <th></th>
            <th>Likes</th>
        </tr>
        </thead>
        @if (Model != null)
        {
            @foreach (var f in Model)
            {
                <tr>
                    <td>
                        <a asp-controller="Home" asp-action="Play" asp-route-id="@f.AudioId" method="get">
                            @if (f.Label != null)
                            {
                                <img class="img-thumbnail w-50" src="data:image/jpeg;base64,@Convert.ToBase64String(f.Label)"/>
                            }
                            else
                            {
                                <img class="img-thumbnail w-50" src="~/images/album.png" asp-append-version="true"/>
                            }
                        </a>
                    </td>
                    <td>
                        <p class="text-body">@f.Name</p>
                    </td>
                    <td>
                        <p class="text-body">@f.Song</p>
                    </td>
                    <td>
                        <form asp-controller="Home" asp-action="Play" asp-route-id="@f.AudioId" method="get">
                            <div class="form-group">
                                <input type="submit" class="btn btn-default" value="Играть"/>
                            </div>
                        </form>
                    </td>
                    <td>
                        <form asp-controller="Home" asp-action="Delete" asp-route-id="@f.AudioId" method="post">
                            <div class="form-group">
                                <input type="submit" class="btn btn-default" value="Удалить для всех"/>
                            </div>
                        </form>
                    </td>
                    <td>
                        <form asp-controller="Home" asp-action="Remove" asp-route-id="@f.AudioId" method="post">
                            <div class="form-group">
                                <input type="submit" class="btn btn-default" value="Удалить из списка"/>
                            </div>
                        </form>
                    </td>

                </tr>
            }
        }
    </table>
}
else
{
    <a asp-controller="Account" asp-action="Login">Вход</a>
    <a asp-controller="Account" asp-action="Register">Регистрация</a>
}